<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Very Easy list</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='list.css') }}">
</head>
<body>
    <h2>Registered Items</h2>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Selected</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    {% if item.image_url %}
                        <img src="{{ item.image_url }}" alt="Item Image" class="item-image">
                    {% else %}
                        <span>No Image</span>
                    {% endif %}
                </td>
                <td>{{ item.name }}</td>
                <td>
                    {% if item.is_active %}
                        <form action="/select_item/{{ item.id }}" method="POST">
                            <button type="submit" class="btn-selected">Selected</button>
                        </form>
                    {% else %}
                        <form action="/select_item/{{ item.id }}" method="POST">
                            <button type="submit" class="btn-unselected">Unselected</button>
                        </form>
                    {% endif %}
                    
                </td>
                <td>
                    <form action="/items/{{ item.id }}" method="DELETE" onsubmit="return confirm('¿Estás seguro de eliminar este usuario?');">
                        <button type="submit" class="btn-delete">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="button-container">
        <a href="/item_category" class="btn">Go Back</a>
    </div>
</body>
</html>