body {
    background-color: #4747d1; /* Morado oscuro */
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.back-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
h2 {
    font-size: 36px;
    font-weight: bold;
    color: #FFD700; /* Dorado */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column; /* Acomoda los botones en columna */
    gap: 20px; /* Espaciado entre botones */
}

.button-container {
    text-align: left;  /* Alinea el botón a la izquierda */
    margin-bottom: 20px;  /* Agrega espacio entre el botón y los otros elementos */
}
.register-button {
    width: 300px; /* Botones más grandes */
    padding: 20px 25px;
    font-size: 18px;
    background-color: #800060; /* Verde llamativo */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase; /* Texto en mayúsculas */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}
.register-button:hover {
    background-color: #ff33ff; /* Verde más oscuro */
    transform: scale(1.05); /* Efecto de agrandamiento */
}

.category-button {
    width: 250px; /* Botones más grandes */
    padding: 15px 25px;
    font-size: 18px;
    background-color: #4CAF50; /* Verde llamativo */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase; /* Texto en mayúsculas */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.category-button:hover {
    background-color: #388E3C; /* Verde más oscuro */
    transform: scale(1.05); /* Efecto de agrandamiento */
}

