 
body {
    padding-top: 50px; /* Agrega espacio en la parte superior */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3d81cf;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #FFD700; /* Dorado */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column; /* Acomoda los botones en columna */
    gap: 20px; /* Espaciado entre botones */
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #2c2c54; /* Azul oscuro */
    color: white;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #40407a; /* Azul morado */
    font-size: 18px;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #575fcf;
}

tr:hover {
    background-color: #3c40c6; /* Azul brillante */
    transition: 0.3s;
}

.btn-edit, .btn-delete {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-selected {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #05c46b; /* Verde */
    color: white;
}

.btn-unselected {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #a4a8a6; /* Verde */
    color: white;
}

.btn-delete {
    background-color: #ff3f34; /* Rojo */
    color: white;
}

.btn-selected:hover {
    background-color: #a4a8a6; /* Verde claro */
}
.btn-unselected:hover {
    background-color: #05c46b; /* Verde claro */
}

.btn-delete:hover {
    background-color: #ff5e57; /* Rojo claro */
}