body {
    background-color: #1c1c31; /* Morado oscuro */
    text-align: center; /* Centra el contenido horizontalmente */
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    margin: 0;
}


h2 {
    font-size: 32px;
    font-weight: bold;
    color: #c7c7c7; /* Dorado */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px; /* Espacio con los botones */
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.config-button{
    padding: 20px 20px;
    font-size: 30px;
    background-color: #c5d119;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.side-button {
    padding: 20px 30px;
    font-size: 30px;
    background-color: #1f8300;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main-button {
    padding: 30px 30px;
    font-size: 30px;
    background-color: #b30086;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
